body {
    background: #141f36;
    font-family: 'Montserrat', sans-serif;
}

#main {
    height: 700px;
    width: 400px;
    background: #112452;
    border-radius: 20px;
    box-shadow: 5px 5px 50px rgb(14, 3, 56);
    margin: 5% 40%;
}

#head {
    width: 100%;
    height: 4%;
    color: #F0F0F0;
    text-align: right;
}

#title {
    padding: 10px;
    font-size: 30px;
    font-weight: 200;
}

#menuCalc {
    width: 100%;
    height: 20%;
    background-color: #051230;
    color: #F0F0F0;
    font-size: 60px;
    
}

#conta {
    padding: 20% 30% 50% 85%;
    font-size: 50px;
}

.buttons {
    margin: 10% 3.5%;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #1f376e;
    width: 90px;
    height: 75px;
    border-radius: 10px;
    border-style: none;
    color: #F0F0F0;
    font-size: 150%;
    font-size: 35px;
}

button:hover {
    background-color: #2e4883;
    transition: .5s;
}

.center {
    background-color: #234186;
}

.center:hover {
    background-color: #1b346e;
    transition: .5s;
}

#enter {
    background-color: #021030;
}

#enter:hover {
    background-color: #011a50;
}