body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #141f36;
    font-family: 'Montserrat', sans-serif;
}

#main {
    height: 700px;
    width: 400px;
    background: #112452;
    border-radius: 20px;
    box-shadow: 5px 5px 50px rgb(14, 3, 56);
    margin: 5% 40% 0 40%;
}

#head {
    width: 100%;
    height: 5%;
    color: #F0F0F0;
    text-align: right;
}

#title {
    padding-right: 15px;
    font-size: 30px;
    font-weight: 200;
}

#menuCalc {
    width: 100%;
    height: 20%;
    background-color: #051230;
    color: #F0F0F0;
    font-size: 60px;
    
}

#conta {
    /* background-color: #051230; */
    background-color: #051230;
    color: #F0F0F0;
    border: none;
    
    width: 95%;
    height: 50%;
    margin-top: 68px;
    padding-right: 18px;
    /* display: flex; */

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    /* align-self: bottom; */
}

.buttons {
    margin: 10% 3.5%;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #1f376e;
    width: 90px;
    height: 75px;
    border-radius: 10px;
    border-style: none;
    color: #F0F0F0;
    font-size: 150%;
    font-size: 35px;
    cursor: pointer;
}

button:hover {
    background-color: #2e4883;
    transition: .5s;
}

.center {
    background-color: #234186;
}

.center:hover {
    background-color: #162d61;
    transition: .5s;
}

#enter {
    background-color: #021030;
}

#enter:hover {
    background-color: #011a50;
    transition: .5s;
}

footer p {
    display: flex;
    align-items: center;
    color: #F0F0F0;
}

.link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}